
@{
    ViewBag.Title = "ZavrseniTreninziTrener";
}
<head>
    <link rel="stylesheet" href="~/Scripts/lookCss.css">
</head>
<body style="background-image: url( ~/Images/fitnessCentar.jpg); background-position:center; background-repeat:no-repeat;background-size:cover">
    <h2>ZavrseniTreninziTrener</h2>

    <form action="/Login/LoginTrener" method="post">
        <input type="hidden" name="KorisnickoIme" value="@ViewBag.korisnicko_ime" />
        <input type="submit" name="Nazad" value="Nazad" />
    </form>

    <form method="post" action="/Trener/ZavrseniTreninziTrener">
        <div>Sortiraj:</div>
        <input type="radio" name="tipSortiranja" value="RASTUCE" />RASTUCE
        <input type="radio" name="tipSortiranja" value="OPADAJUCE" />OPADAJUCE

        <select name="sortiranjePrema" required>
            <option value="Naziv"> NAZIV</option>
            <option value="TipTreninga"> TIP TRENINGA</option>
            <option value="DatumOdrzavanja">DATUM ODRZAVANJA</option>
        </select>
        <br />
        <input type="hidden" value="@ViewBag.korisnicko_ime" name="KorisnickoIme" />
        <input type="submit" name="Opcija" value="Sortiraj" />


        <div>Naziv:</div><input type="text" name="Naziv" value="" /><br />
        <div>TipTreninga:</div><select name="TipTreninga">
            <option value=""></option>
            <option value="YOGA">YOGA</option>
            <option value="BODYPUMP">BODYPUMP</option>
            <option value="CARDIO">CARDIO</option>
        </select><br />
        <div>Datum Odrzavanja(yyyy/mm/dd HH:mm):</div><input type="text" name="DonjaGranica" placeholder="DonjaGranica" /><input type="text" name="GornjaGranica" placeholder="GornjaGranica" /><br />
        <br />
        <input type="submit" name="Opcija" value="Pretrazi" />

    </form>
    @if (ViewBag.GrupniTreninzi == null || ViewBag.GrupniTreninzi.Count == 0)
    {
<p>@ViewBag.korisnicko_ime nema nijedan predstojeci grupni trening</p> }
else
{
foreach (var gp in ViewBag.GrupniTreninzi)
{
    DateTime dt;
    DateTime.TryParse(gp.DatumTreninga, out dt);
    if (dt < DateTime.Now)
    {
<table border="1">
    <tr><td>Naziv:</td><td>@gp.Naziv</td></tr>
    <tr><td>TipTreninga:</td><td>@gp.Trening</td></tr>
    <tr><td>FitnesCentar:</td><td>@gp.NazivFitnesCentra</td></tr>
    <tr><td>TrajanjeTrenigna</td><td>@gp.TrajanjeTreninga</td></tr>
    <tr><td>DatumTreninga</td><td>@gp.DatumTreninga</td></tr>
    <tr><td>MaxBrojPosetilaca</td><td>@gp.MaxBrojPosetilaca</td></tr>
    <tr>
        <td>ListaPrijavljenih:</td>

        @if (ViewBag.Posetioci == null || ViewBag.Posetioci.Count == 0)
        {
<td>Nema posetilaca</td>
 }
else
{
<td>
    <ol>
        @if (ViewBag.Posetioci.ContainsKey(gp.Naziv))
        {
            foreach (var s in ViewBag.Posetioci[gp.Naziv])
            {
<li>@s</li>
}
}
    </ol>
</td>
}
    </tr>
</table>
                        <br />}

                }
            }
</body>